.container {
    max-width: 1200px;
    margin: 20px auto;
}

.headerTitle {
    font-size: 2.5em;
    color: #4a4a4a;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    text-align: center;
}